.App {
  text-align: center;
  font-family: 'Cairo', sans-serif;
}
:root {
  --primary-color: #3498db;
  --mainText-color: #2c3e50;
  --secondryText-color:#555555;
  --Link-color :#e74c3c;
  --success-color:#27ae60;
  --warning-color:#e67e22;
  --error-color:#c0392b;

}
body {
  background-color: #ecf0f1;
}

header {
  background-color: #2980b9;
  color: #fff;
}
/* __________________________________HeaderMenuHomePage_____________________________________-- */
.HeaderMenuHomePage
{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  background-color: #2980b9;
  /* padding-top: 5%; */
}
.HeaderMenuHomePage button
{
  width: 90px;
  height: 80px;
  border: none;
  font-weight: 700;
  font-size: 18px;
  font-family: 'Cairo', sans-serif;
  background-color:var(--mainText-color);
  text-align: center;
  cursor: pointer;
  transition: all 0.4s ease-in-out;
  outline: none;
  border-radius: 10px;
  color: var(--Link-color);

}
.CountersDiv
{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 100%;
}
.HeaderButtons
{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 2%;
  width: 100%;
}

/* ____________________________________________OrdersComponentMainDiv_______________________________________ */
.OrdersComponentMainDiv
{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.OrdersShowDiv
{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
/* ______________________________________OrderComponentMainDiv_____________________________________ */
.OrderComponentMainDiv
{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-bottom: 5px solid var(--primary-color);

}
.NamePhoneCityOrderComponentDiv
{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.NamePhoneCityOrderComponentDiv a
{
  font-size: 20px;
  margin-left: 2%;
  color: var(--Link-color);
  font-family: 'Cairo', sans-serif;
  text-decoration: none;
  font-weight: 800;
}
.NamePhoneCityOrderComponentDiv textarea
{
  width: 50%;
  height: 80px;
  margin-left: 2%;
  border-radius: 8px;
  font-size: 18px;
  text-align: right;
  font-family: 'Cairo', sans-serif;
  padding-right: 2%;
  font-weight: 800;
  border: none;
  background-color: #2c3e50;
  color: var(--Link-color);
}
.NamePhoneCityOrderComponentDiv div
{
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
.NamePhoneCityOrderComponentDiv h1
{
  font-size: 18px;
  font-family: 'Cairo', sans-serif;
  color: var(--mainText-color);
  margin-right: 2%;
}
.NamePhoneCityOrderComponentDiv h2
{
  font-size: 15px;
  font-family: 'Cairo', sans-serif;
  color: var(--secondryText-color);
  margin-left: 2%;
}
/* __________________________________________DetailsMainDiv__________________________________ */
.DetailsMainDiv
{
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 85%;
  border: 5px solid var(--mainText-color);
  border-radius: 10px;
  margin-bottom: 5%;
}
.CartNamePriceAddDiv
{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  border-bottom: 5px solid var(--mainText-color);

}
.AdditionsDiv
{
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
.AdditionsDiv h4
{
  font-size: 18px;
  font-family: 'Cairo', sans-serif;
  color: var(--mainText-color);
  margin-right: 3%;
}
.AdditionsDiv h3
{
  font-size: 15px;
  font-family: 'Cairo', sans-serif;
  color: var(--secondryText-color);
  margin-left: 3%;
}
.NamePriceCountRowDiv
{
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
.NamePriceCountRowDiv h2
{
  font-size: 18px;
  font-family: 'Cairo', sans-serif;
  color: var(--mainText-color);
  margin-right: 3%;
}
.NamePriceCountRowDiv h3
{
  font-size: 15px;
  font-family: 'Cairo', sans-serif;
  color: var(--secondryText-color);
  margin-left: 3%;
}
/* __________________________________ShowDetailsButton_____________________________________ */
.ShowDetailsButton
{
  width: 70%;
  font-weight: 700;
  font-size: 25px;
  font-family: 'Cairo', sans-serif;
  background-color:var(--mainText-color);
  border: none;
  text-align: center;
  cursor: pointer;
  transition: all 0.4s ease-in-out;
  outline: none;
  height: 50px;
  border-radius: 10px;
  margin-bottom: 5%;
  margin-top: 5%;

  color:var(--Link-color);
}
/* ______________________________________PendingInPreparationButtons___________________________________ */
.PendingInPreparationButtons
{
  width: 50%;
  font-weight: 700;
  font-size: 25px;
  font-family: 'Cairo', sans-serif;
  background-color:var(--mainText-color);
  border: none;
  text-align: center;
  cursor: pointer;
  transition: all 0.4s ease-in-out;
  outline: none;
  height: 50px;
  border-radius: 10px;
  margin-bottom: 5%;
  margin-top: 5%;

  color:var(--Link-color);
}






.counterOrdersFlag
{
  position: relative;
  border: 0px;
  border-radius: 50px;
  background-color: var(--secondryText-color);
  width: 60px;
  height: 60px;
  margin-bottom: 0px;
  color: var(--Link-color);
  font-family: 'Cairo', sans-serif;

}